/tmp/
/doc/
/docs/
/lib/
/bin/
/.shards/

# Ongoging (development) tests
/spec/current_spec.cr

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

# Remainings from icr sessions
/.icr*
